* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;

}

.box{
  display: flex;

}
/* ===============================common css====================================== */
/* ================================navbar css start================================================= */

nav{

  padding-top: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000 !important;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;


}

.nav-ul .nav-item a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-family: Poppins, sans-serif;
  padding: 10px 20px;
  background: transparent;
  transition: .4s;
  border-radius: 10px;
}


.nav-item a:hover {
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6); 
  animation: pulseGlow 1.5s infinite;
  color: white;
}

.logo a {
  font-size: 30px;
  font-weight: 800;
  background: -webkit-linear-gradient(#6CB3FF, #210A6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
}


.button a {
  padding: 12px 40px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  color: white;
  background: linear-gradient(#0032A0, #004CFD);
  border-radius: 10px;
  text-transform: capitalize;
  transition: .4s;
  border: 2px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  margin-left: 30px;
}
.button a:hover{
  background: linear-gradient(90deg, #005CFF, #0A0A70);
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6); 
  animation: pulseGlow 1.5s infinite;
}


@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6);
  }
  50% {
    box-shadow: 0 0 18px 8px rgba(0, 76, 253, 0.8);
  }
  100% {
    box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6);
  }
}


/* ==========================navbar css end========================================== */
/* ==========================banner css start ========================================== */

.banner {
  background: #000;
  padding-bottom: 150px;
}


.banner-left{
  width: 50%;
}

.banner-text {

  max-width: 594px;
  padding: 106px 0;
}

.banner-text .intro {
  font-size: 24px;
  font-family: lato, sans-serif;
  font-weight: 500;
  color: #a6a5a5;
  padding-bottom: 10px;
}


.banner-text h2 {
  font-size: 28px;
  font-family: lato, sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-text h1 {
  font-size: 64px;
  font-family: lato, sans-serif;
  font-weight: 900;
  background-image: linear-gradient(to left top, #120098, #1428ae, #1b43c3, #275dd7, #3876e9, #3b7bec, #3e81ef, #4286f2, #3579e8, #276bdf, #175ed4, #0051ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  ;
  margin-bottom: 17px;
}

.banner-text .icon i {
  background: -webkit-linear-gradient(#ffffff, #575757);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50px;
  margin-bottom: 61px;
}


.banner-text p {
  font-size: 20px;
  font-family: lato, sans-serif;
  font-weight: 500;
  color: #ffffff;

  margin-bottom: 30px;
width: 450px;
}


.button2 a {
  padding: 12px 40px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-transform: capitalize;
  transition: .4s;
}


.bt-box .button2 a:hover{
  background: linear-gradient(90deg, #005CFF, #0A0A70);
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6); 
  animation: pulseGlow 1.5s infinite;
}

.bt-box {
  display: flex;
  column-gap: 25px;

}
.bt-box a:hover {
  background: transparent;
  color: white;
  border: 2px solid white; 
}

.info-box {
  margin-top: 80px;

  background: #1E1E1E;
  border-radius: 10px;

}




.mini-box i{
  font-size: 50px;
  margin-left: 10px;
  color: #FD6F00;
  margin-bottom: 10px;
  margin-left: 10px;
}

.mini-box .fa-css3-alt{
  color: #007AFD;
}

.mini-box .progress{
  width: 85%;
  margin-left: 6px;

}


.button a{
  border: 2px solid transparent ; 
}




.box2{
  width: 100%;
  height: 50%;
  position: relative;
}

.box h5{
  font-size: 20px;
  font-family: lato, sans-serif;
  font-weight: 600;  
  color: white; 
   position: absolute;
  top: 5px;
  left: 60px;
 
}

  .mini-box{
  display: flex;
  align-items: center;
  padding-top: 15px;
  }
  
 .info-box .exp {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
display: inline-block;
margin-left: 35%;
margin-top: 15px;
}



.circle{
  width: 618px;
  height: 618px;
  border-radius: 50%;
background: rgb(255, 255, 255, 10%);
border: 2px solid linear-gradient(90deg, #4fb3ee, #3156e8);
margin-top: 163px;
position: relative;
border-color: white;
transform: scale(1.05);
box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6); 
animation: pulseGlow 1.5s infinite;
}

.circle img{
position: absolute;
top: 0;
left: 50%;
border-radius: 50%;
height: 610px;
transform: translate(-50%, 0);
}

.circle img:hover{
  transform: translate(-50%, -10px);
  transition: all 0.5s ease-in-out;
} 
/* ==================================banner css end =================================== */
/* ==================================service css start =================================== */

.service {
  background: #000000;
  padding-bottom: 150px ;
  text-align: center;
}


.service-text h2 {
  font-size: 40px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.service-text p {
  font-size: 20px;
  font-family: lato, sans-serif;
  font-weight: 500;
  color: #707070;
  margin-bottom: 80px;
  text-transform: capitalize;
}

.card{
  width: 400px;
  height: 500px;
  background: rgb(255, 255, 255, 6%);
  border-radius: 24px;
  border:2px solid transparent linear-gradient(#0032A0, #004CFD);
  transition: .4s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  margin-left: 60px;
}

.service  .card:hover{
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6); 
  animation: pulseGlow 1.5s infinite;
}

.card i{
  font-size: 100px;
  color: #007BFF;
  margin-top: 40px;
  margin-bottom: 22px;
 
}

.card h3{
  font-size: 26px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #ffffff;
 margin-bottom: 34px;
  text-transform: uppercase;

}

.card p{
  font-size: 15px;
  font-family: lato, sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 34px;
  text-transform: capitalize;
  width: 339px;
margin-left: 25px;
padding-right: 20px;
}

.btn a{
  padding: 10px 115px;
  background: red;
  border-radius: 20px;
  font-size: 20px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #ffffff;
text-transform: capitalize;
background: linear-gradient(#0032A0, #004CFD);
border: 2px solid transparent;
  transition: .4s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

}
.btn a:hover{
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6); 
  animation: pulseGlow 1.5s infinite;
  background: transparent;
}
/* ==========================service css ends======================================== */
/* ==========================about css start======================================== */


.about {
  background: #000;
  padding-bottom: 150px;
  padding-top: 111px;
  text-align: center;
}

.about .left-img{
 position: relative;

}


.about h2{
  font-size: 40px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 86px;
  text-transform: uppercase;
}

.about h2 span{
  font-size: 40px;
  font-family: lato, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(to left top, #120098, #1428ae, #1b43c3, #275dd7, #3876e9, #3b7bec, #3e81ef, #4286f2, #3579e8, #276bdf, #175ed4, #0051ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 86px;
  text-transform: uppercase;
}

.about .card{
  width: 363px;
  height: 355px;
margin-top: 70px;
border: 1px solid white;
border-top: none;
box-shadow: 0 10px 0  rgba(65, 63, 63, 0.641);

}

.about .card h2{
  font-size: 32px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 155px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 9px;
}

.about .card p{
  font-size: 20px;
  font-family: lato,;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
width: 207px;
line-height: 36px;
margin-left: 90px;
}
.about .left-img .circle{
  width: 260px;
  height: 260px;
  position: absolute;
  top: -50%;
  left: 56%;
  transform: translateX(-50%);
  background: #ffffff;

}
.about .left-img .circle img{
  height: 244px;
}

.right-text .info h3{
  font-size: 35px;
  font-family: lato, sans-serif;
  font-weight: 600;
  color: #ffffff;
text-align: left;
text-transform: capitalize;
margin-bottom: 20px;

}
.right-text .info{
  margin-top: 80px;
  margin-left: 50px;
  display: flex;
}
.right-text .info .right-info h3{
  margin-left: 22px;
}
.about .box{
  margin-left: 93px;

}

.ab-box{
display: flex;
}

/* ==========================about css end======================================== */
/* ==========================contact css start======================================== */

.contact{
  background: rgb(18, 18, 18);
  padding-bottom: 150px;
  padding-top: 111px;
  text-align: center;
}

.contact h2{
  font-size: 40px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 86px;
  text-transform: uppercase;
}

.contact h2 span{
  font-size: 40px;
  font-family: lato, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(to left top, #120098, #1428ae, #1b43c3, #275dd7, #3876e9, #3b7bec, #3e81ef, #4286f2, #3579e8, #276bdf, #175ed4, #0051ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 86px;
  text-transform: uppercase;
}

.contact .box .left a{
  font-size: 50px;
  font-weight: 800;
  background: -webkit-linear-gradient(#6CB3FF, #210A6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
display: inline-block;
margin-bottom: 33px;
}
 .contact .left{
  width: 50%;
  text-align: left;
 }
 .contact .right{
  width: 50%;

 }

 .contact .box .left p{
  font-size: 16px;
  font-family: lato, sans-serif;
  font-weight: 600;
  color: #ffffff;
width: 450px;
margin-bottom: 65px;
 }

 .contact .box .left .icon a{
font-size: 20px;
margin-left: 60px;
 }

 .contact .box .left .icon a:first-child{
  margin-left: 0;
 }


 .contact .box .right form input{
width: 284px;
height: 53px;
border-radius: 10px;
background: rgb(255, 255, 255, 6%);
margin-left: 22px;
margin-bottom: 22px;
outline: none;
color: white;
border: 1px solid white;

 }

 .contact .box .right form input::placeholder{
  font-size: 18px;
font-weight: 600;
font-family: lato, sans-serif;
color: #ffffff;
text-transform: capitalize;
padding: 15px;
 }

 .form-box{
  width: 100%;
 }

 .contact .box .right form input:nth-child(5){
  width: 93%;
 }

 .contact .box .right form .sms textarea{
  width: 94%;
  height: 118px;
  border-radius: 10px;
  margin-left: 25px;
  background: rgb(255, 255, 255, 6%);
  outline: none;
  border: 1px solid white
 }
 .contact .box .right form .sms textarea::placeholder{
    font-size: 18px;
font-weight: 600;
font-family: lato, sans-serif;
color: #ffffff;
text-transform: capitalize;
padding: 15px;
 }


 .right .sms button a{
  font-size: 18px;
  font-weight: 600;
  font-family: lato, sans-serif;
  color: #ffffff;
  text-transform: capitalize;
  padding: 15px 0;

 }
 .right .sms button{
  background: rgb(255, 255, 255, 6%);
  width: 94%;
  margin-left: 25px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  height: 53px;
  text-align: center;
  background: linear-gradient(#0032A0, #004CFD);
  border: 2px solid transparent;
  transition: .4s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
 }
 .right .sms button:hover{
  border-color: white;
  box-shadow: 0 0 12px 4px rgba(0, 76, 253, 0.6);
  animation: pulseGlow 1.5s infinite;
  background: transparent;
 }



/* ==========================contact css end======================================== */

footer .container h2{
  font-size: 16px;
  font-family: lato, sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

footer{
  width: 100%;
  height: 70px;
  background: rgb(81, 80, 80);
}

@media (min-width: 320px) and (max-width:575.99px) {
  .banner{
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
  }
  .container{
    width: 100%;
  }
 .box{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }
 .banner  h1{
    text-align: center;
    font-size: 35px;
  }
  .banner-left{
    width: 100%;
  }

  .banner h4{
    text-align: center;
    font-size: 16px;
  }

.b-p{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .banner h2{
    text-align: center;
    font-size: 18px;
  }
  .banner p{
    text-align: center;
    font-size: 10px;
  width: 280px;
  margin-left: 10px;
  }

  .banner-text .icon i{
    font-size: 15px;
  width: 30px;
  text-align: center;
  margin-bottom: 25px; 
 
  }

  .banner-text .icon{
    text-align: center;

  }

  .banner-left .bt-box a{
    padding: 5px 20px;
    font-size: 12px;
  } 
.banner .bt-box{
  margin-left: 28px;
  justify-content: center;
  align-items: center;
}
.banner .info-box h4{
font-size: 14px
}

.banner .info-box .box2{
width: 90%;
height: 50%;
}

.banner .info-box{
  width: 250px;
  margin: 36px auto;
}

.banner .info-box .box2 h5{
  font-size: 12px;
 margin-bottom: 0;
top: 12px ;
left: 42px;
}
.banner .info-box .box2 .progress{
  height: 12px;
}

.banner .mini-box i{
  font-size: 30px;
}

.banner .banner-right .circle{
margin-top:  -95px ;
width: 250px;
height: 250px;
margin-left: 25px;
}

.banner .banner-right .circle img{
  height: 250px;
}
.bt-box a{
  margin-left: 0
  ;
}
/* ================banner mobile done======================== */
/* ================service mobile start======================== */

.service{
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
}

.service .service-text h2{
  font-size: 25px;
  margin-bottom: 8px;
}
.service .service-text p{
  font-size: 9px;
}
.service .card{
  width: 200px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;

}

.service .card i{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.service .card h3{
  font-size: 15px;
  margin-bottom: 20px;

}

.service .card  p{
  font-size: 9px;
  width: 180px;
  text-align: center;
  margin: 0 7px;
  padding: 0;
  margin-bottom: 12px;
}
.service .card .btn a{
  padding: 10px 40px;
  font-size: 10px;
}
.service .box{
  flex-wrap: wrap;
}
/* =============service mobile end============================= */
/* =============about mobile start============================= */




/* =============about mobile end============================= */
.about{
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
  padding-top: 15px;
}
.about h2{
  font-size: 20px;
}
.about h2 span{
  font-size: 20px;
}

.about .box{
  justify-content: center;
  align-items: center;
  margin-left: 0;
} 
.about .left-img .card{
  width: 150px;
  height: 200px;
 margin-top: 80px;
 margin-left: 10px;
 border-top: none;

}

.about .card h2{
  font-size: 11px;
  margin-top: 90px;
 
}
.about .card p{
  font-size: 11px;
  width: 132px;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 20px;
}
.about .left-img{

  position: relative;
}
.about .left-img .circle{
  width: 150px;
  height: 150px;
  top: -159px;
  left: 85px;
}
.about .left-img .circle img{
  width: 150px;
  height: 150px;
}

.about .right-text .info .left-info h3{
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: -9px;
}


.about .right-text .info{
margin-top: 172px;
margin-left: 18px;
}
.about .right-text .info .right-info h3{
  font-size: 10px;
  margin-left: 0;
  margin-bottom: 5px;
 
}

.about .right-text .right-info{
  margin-left: 7px; 
}
.about .right-text .info .right-info h3:nth-child(1){
font-size: 7px;

}
.about .ab-box{
  justify-content: center;
  align-items: center;
}
/* ====================about mobile end=================================== */
/* ====================contact mobile start=================================== */
.contact{
  width: 100%;
  height: 100%;
}
.contact .box .left a {
  font-size: 30px;
 
}
.contact .box .left p{
  font-size: 10px;
  width: 100%;
  margin-bottom: 20px;
} 
.contact .box .left .icon a {
  padding: 0;
  margin-left: 10px;
  margin-bottom:30px;
}
.contact .box .left .icon a i{
  font-size: 17px;
}

.contact h2 {
  margin-bottom: 50px;
}

.contact .box{
flex-wrap: wrap;
}

.contact .box .left{
  width: 100%;
  text-align: center;
}

.contact .box .right form input{
  margin-left: 0;
  padding: 0 10px;
color: white;
width: 93%;
}

.contact .right{
  width: 100%;
}

.contact .box .right form .sms textarea{
  width: 93%;
  margin-left: 0;
  padding: 10px 10px;
}
.right .sms button{
  margin-left: 0;
}

footer .container h2{
  font-size: 8px;
}
footer{
  height: 45px;
}
}



@media (min-width: 576px) and (max-width:767.99px) {
  .banner{
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
  }
  .container{
    width: 100%;
  }
 .box{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }
 .banner  h1{
    text-align: center;
    font-size: 45px;
  }
  .banner-text{
 max-width: 100%;
  }
  .banner-left{
    width: 100%;
  }

  .banner h4{
    text-align: center;
    font-size: 16px;
  }

.b-p{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .banner h2{
    text-align: center;
    font-size: 18px;
  }
  .banner p{
    text-align: center;
    font-size: 14px;
  width: 280px;
  margin-left: 10px;
  }

  .banner-text .icon i{
    font-size: 20px;
  width: 30px;
  text-align: center;
  margin-bottom: 25px; 
 
  }

  .banner-text .icon{
    text-align: center;

  }

  .banner-left .bt-box a{
    padding: 10px 35px;
    font-size: 12px;
  } 
.banner .bt-box{
  margin-left: 28px;
  justify-content: center;
  align-items: center;
}
.banner .info-box h4{
font-size: 15px
}

.banner .info-box .box2{
width: 95%;
height: 50%;
}

.banner .info-box{
  width: 400px;
  margin: 36px auto;
}

.banner .info-box .box2 h5{
  font-size: 14px;
 margin-bottom: 0;
top: 12px ;
left: 42px;
}
.banner .info-box .box2 .progress{
  height: 12px;
}

.banner .mini-box i{
  font-size: 30px;
}

.banner .banner-right .circle{
margin-top:  -95px ;
width: 350px;
height: 350px;
margin-left: 25px;
}

.banner .banner-right .circle img{
  height: 350px;
}
.bt-box a{
  margin-left: 0
  ;
}
/* ================banner mobile done======================== */
/* ================service mobile start======================== */

.service{
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
}

.service .service-text h2{
  font-size: 35px;
  margin-bottom: 12px;
}
.service .service-text p{
  font-size: 12px;
}
.service .card{
  width: 200px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;

}

.service .card i{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.service .card h3{
  font-size: 15px;
  margin-bottom: 20px;

}

.service .card  p{
  font-size: 9px;
  width: 180px;
  text-align: center;
  margin: 0 7px;
  padding: 0;
  margin-bottom: 12px;
}
.service .card .btn a{
  padding: 10px 40px;
  font-size: 10px;
}
.service .box{
  flex-wrap: wrap;
}
/* =============service mobile end============================= */
/* =============about mobile start============================= */




/* =============about mobile end============================= */
.about{
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
  padding-top: 15px;
}
.about h2{
  font-size: 35px;
}
.about h2 span{
  font-size: 35px;
}

.about .box{
  justify-content: center;
  align-items: center;
  margin-left: 0;
} 
.about .left-img .card{
  width: 250px;
  height: 300px;
 margin-top: 80px;
 margin-left: 10px;
 border-top: none;

}

.about .card h2 {
	font-size: 20px;
	margin-top: 161px;
}
.about .card p {
	font-size: 18px;
	width: 212px;
	line-height: 24px;
	margin-left: 26px;

}
.about .left-img{

  position: relative;
}
.about .left-img .circle {
	width: 255px;
	height: 255px;
	top: -199px;
	left: 134px;
}
.about .left-img .circle img{
  width: 255px;
  height: 255px;
}

.about .right-text .info .left-info h3 {
	font-size: 18px;
	margin-bottom: 7px;
}


.about .right-text .info{
margin-top: 172px;
margin-left: 18px;
}
.about .right-text .info .right-info h3 {
	font-size: 18px;
	margin-left: 7px;
	margin-bottom: 11px;
}

.about .right-text .right-info{
  margin-left: 9px;
}
.about .right-text .info .right-info h3:nth-child(1) {
	font-size: 17px;
}
.about .ab-box{
  justify-content: center;
  align-items: center;
}
/* ====================about mobile end=================================== */
/* ====================contact mobile start=================================== */
.contact{
  width: 100%;
  height: 100%;
}
.contact .box .left a {
	font-size: 38px;
}
.contact .box .left p {
	font-size: 16px;
	width: 90%;
	margin-bottom: 20px;
	margin-left: 33px;
	margin-right: 28px;
}
.contact .box .left .icon a {
  padding: 0;
  margin-left: 10px;
  margin-bottom:30px;
}
.contact .box .left .icon a i {
	font-size: 25px;
}

.contact h2 {
	margin-bottom: 50px;
	font-size: 35px;
}

.contact .box{
flex-wrap: wrap;
}

.contact .box .left{
  width: 100%;
  text-align: center;
}

.contact .box .right form input {
	margin-left: 0px;
	padding: 15px 15px;
  width: 90%;
  color: white;
}

.contact .box .right form input:nth-child(5) {
	width: 90%;
}

.contact .right{
  width: 100%;
}

.contact .box .right form .sms textarea{
  width: 90%;
  margin-left: 0;
  padding: 10px 10px;
}
.right .sms button{
  margin-left: 0;
}

footer .container h2{
  font-size: 8px;
}
footer{
  height: 45px;
}
}
/* ====================contact mobile end=================================== */

